.side_1 {
  padding-top: 28px;
  width: 376px;
}
.mob_visible {
  display: none;
}

@media screen and (max-width: 940px) {
  .side_1 {
    width: 100%;
  }
  .mob_visible {
    display: block;
    margin: 1rem auto;
    max-width: 420px;
    min-width: 150px;
  }
}
