.main_section {
  /* border: 3px solid black; */
  padding: 73px 4rem 0px 4rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 940px) {
  .main_section {
    flex-direction: column;
    padding: 73px 1rem 0px 1rem;
  }
}
